.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/*
input type text
*/
.input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
