* {
  margin: 0;
  user-select: none;
  transition: background-color 0.25s ease; 
}

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}


