.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topHolder {
  z-index: 99;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffcd00;
}

@media (max-width:1200px) {
  .popup {
    position: static !important;
    transform: none !important;
    border-radius: 0 !important;
    top: 0 !important;
    box-shadow: none !important;
  }

  #deckgl-wrapper {
    position: static !important;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
  .menuHolder {
    display: flex !important;
  }

  .topHolder {
    box-shadow: 0px 0px 10px 0px #000000;
  }

  .selection {
    position: relative !important;
    transform: none !important;
    border-radius: 0 !important;
    top: 0 !important;
    right: 0 !important;
    left: 0  !important;
    box-shadow: none !important;
  }
}