.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.arrowUp {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffcd00;
}






@media (max-width:1200px) {
  .popup {
    position: static !important;
    transform: none !important;
    border-radius: 0 !important;
    display: inline;

  }

  #deckgl-wrapper {
    position: static !important;
  }

  .main {
    display: flex;
  }

  .selection {
    position: relative !important;
    transform: none !important;
    border-radius: 0 !important;
  }
}